@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.header {
    height: 10vh;
    width: 100vw;
    background: #0000004b;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 4rem;
    font-family: 'nosifer', sans-serif;
    font-weight: 800;
    color: #FFF;
    margin-left: 50px;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
}

.element {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.element:hover {
    color: #ff0000;
}

.res {
    display: none;
}

#section1,
#section2,
#section3,
#section4 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/nika.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    color: #e205ff;
    font-weight: 700;
    font-family: 'Sedgwick Ave Display', cursive;
}

.hello {
    font-size: 5rem;
}

.name {
    font-size: 6rem;
}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/nikA12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-wrapper {
    width: 60%;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
}

.my-info {
    font-size: 2rem;
    text-align: center;
    font-family: "Metal Mania", sans-serif;
}

#section3 {
    background-image: url(img/nika2354.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #80240054;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    font-size: 5rem;
    font-family: 'Lemon', serif;
    flex-grow: 1;
}

.x1 {
    color: #d55510;
}

.x2 {
    color: #105ee5;
}

.x3 {
    color: #eaed0c;
}

.rotate-box {
    position: relative;
    width: 50%;
    height: 50%;
}

.button,
.icon {
    position: absolute;
}

.icon {
    z-index: 1;
}

.button {
    z-index: 2;
}

#section4 {
    background-image: url(img/nik23.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.section4-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0000007a;
}

.contact,
.mesig {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact div,
.mesig div{ 
    height: 50%;
}


.text {
    color: #fff;
}

.text1 {
    font-size: 3rem;
}

.text2 {
    font-size: 2rem;
}

.input-field,
.message,
.send-button {
    border: 3px solid green;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    box-sizing: border-box;
}

.input-field {
    width: 60%;
}

.send-button {
    width: 30%;
}

.input-field:focus,
.message:focus,
.send-button:focus {
    outline: transparent;
    border-color: #ff0000
}

.message {
    resize: none;
}

.send-button {
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .nav-bar {
        position: fixed;
        top: 0;
        right: -50%;
        transform: translateX(50%);
        width: 50%;
        height: 100vh;
        background: #2f00ff88;
        backdrop-filter: blur(20px);
        margin: 0;
        transition: 0.5s;
    }

    .nav-bar.active {
        right: 0;
        transform: translateX(0);
    }

    .list-container {
        margin-top: 50px;
        margin-left: 50px;
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .res {
        display: block;
        font-size: 2rem;
        color: #e205ff;
    }

    .res:active {
        color: #fff;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 50px;
    }

    .menu {
        margin-right: 50px;
    }

    .section4-wrapper {
        flex-direction: column;
    }

    .contact,
    .mesig {
        width: 100%;
    }

    .contact {
        height: 50%;
        justify-content: end;
    }

    .mesig {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .input-field,
    .message,
    .send-button {
        width: max(70vw, 500px);
        font-size: 15px;
    }
    
    .message {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        margin-left: 30px;
        font-size: 3rem;
    }

    .menu {
        margin-right: 30px;
    }

    .my-info {
        font-size: 1.5rem;
    }

    .skills {
        height: 200px;
        justify-content: space-around;
        flex-direction: row;
    }
}

@media screen and (max-width: 567px) {
    .logo {
        margin-left: 15px;
        font-size: 2rem;
    }

    .menu {
        margin-right: 15px;
    }

    .nav-bar {
        width: 100%;
    }

    .my-info {
        font-size: 1rem;
    }

    .skills {
        height: 150px;
        font-size: 3rem;
    }

    .text1 {
        font-size: 2.5rem;
    }

    .text2 {
        font-size: 1rem;
    }

    .mesig {
        width: 100%;
        align-items: center;
    }

    .mesig div {
        height: 300px;
    }

    .input-field,
    .message,
    .send-button {
        width: max(70vw, 250px);
        font-size: 15px;
        margin: 1px;
    }
    
    .message {
        height: 200px;
    }
}